[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
cloudscraper = "*"
httpx = {extras = ["http2"], version = "*"}
beautifulsoup4 = "*"
pyyaml = "*"
rich = "*"
pyjwt = "*"
imaplib2 = "*"

[dev-packages]
autopep8 = "*"
pyinstaller = "*"

[requires]
python_version = "3.10"
